<!DOCTYPE html>
<html>
<head>
    <title>Postcode Search</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
    <h1>UK Postcode Search</h1>
    <form id="postcodeForm">
        <input type="text" id="postcode" name="postcode" placeholder="Enter postcode" required>
        <button type="submit">Search</button>
    </form>
    <div id="container">
        <div id="result"></div>
        <div id="map"></div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
